/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
}

/* Header styles */
.navbar {
  background-color: #1f1f1f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
}

.navbar nav ul li {
  display: inline;
  margin-right: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #fff;
}

/* Main content styles */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.tracks {
  margin-top: 10px; /* Adjusted margin-top */
  margin-left: 20px;
}

.tracks h2 {
  margin-bottom: 15px; /* Added margin-bottom */
}


.track-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjusted to fill from left to right */
}

.track-card {
  width: calc(16.666% - 20px); /* Adjusted width for 6 items in a row */
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-right: 20px; /* Added right margin to create space between track cards */
  margin-bottom: 20px; /* Keep bottom margin */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.track-card:last-child {
  margin-right: 0; /* Remove right margin from the last track card in a row */
}

.track-card::after {
  content: '';
  position: absolute;
  bottom: 27px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #453d4f; /* Adjust button color */
  padding: 10px; /* Added padding */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

.track-card:hover::after {
  transform: scale(1.1);
  opacity: 1;
}

.play-button-overlay {
  position: absolute;
  bottom: 27px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 999;
  cursor: pointer;
}

.track-card:hover {
  transform: translateY(-5px);
}

.track-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.track-card h3,
.track-card p {
  margin-bottom: 5px;
  color: #fff;
}

.audio-controller {
  position: fixed;
  bottom: 10px;
  left: 10%;
  width: 80%;
  border-radius: 8px;
  background-color: #202020; /* Dark background color */
  padding: 15px 0;
  text-align: center;
  z-index: 999; /* Ensure it appears above other elements */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.audio-controller audio {
  width: 40%;
  margin: 0 auto;
  display: block;
  outline: none; /* Remove default focus outline */
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audio-progress {
  width: 100%;
  height: 5px;
  top: 34%;
  background-color: #777;
  position: relative;
  border-radius: 2px;
  margin-left: 120px;
  margin-right: 120px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  border-radius: 2px;
}

.audio-time {
  position: absolute;
  left: 1%;
  font-size: 18px;
  color: #aaa;
  margin-top: 2px;
}
